In [7]:
import pandas as pd
import numpy as np

In [8]:
df_dengue = pd.read_excel("CasosDengue_Tratado.xlsx")
df_brasil = pd.read_excel("Limpa_Brasil_Tratado.xlsx")

In [9]:
display(df_brasil)

,Nome,Municipio,CEP,Ação realizada em,Peso total dos resíduos (kg),Quantidade total de itens coletados:,Garrafas PET,Pneus,Copos/talheres/pratos,Sacos e sacolas,Latas de bebida,"Caixas de leite/suco, etc"
0,Paulo Sérgio Romancini Júnior,Campinas,13010091,2024-04-01,22,280,0,0,0,0,0,0
1,Eliane Odebrecht,Itanhaém,11740000,2023-08-01,16,0,0,0,0,0,0,0
2,Patrícia De Castro Marques Sanfins,Itatiba,13252300,2022-04-01,15,100,18,0,30,23,0,12
3,Silviane Batistella,Jundiaí,13211410,2022-06-01,80000,40,50,12,50,40,15,40
4,Silviane Batistella,Jundiaí,13211410,2022-07-01,18,0,0,0,0,8,2,0
5,Silviane Batistella,Jundiaí,13211410,2022-07-01,18,10,0,0,10,10,2,10
6,Raryane Dos Santos Batista,Mauá,9321282,2023-06-01,29,0,0,0,0,0,0,0
7,Maria De Fatima De Araújo,Pirassununga,13635000,2022-06-01,10,5,6,0,10,30,0,1
8,Kelly Cristina Da Silva,Ribeirão Preto,14093000,2023-07-01,194,11,78,1,15,48,18,4
9,Raryane Dos Santos Batista,Santo André,9121290,2024-06-01,77,0,0,0,0,0,0,0
10,André Fabiano De Castro Vicente,Santos,11025020,2022-05-01,35,200,20,0,0,4,10,10
11,André Fabiano De Castro Vicente,Santos,11025020,2023-06-01,53,20,20,0,0,50,1,0
12,Alexandro Meiato Veratti,São Paulo,4195090,2022-04-01,60,1000,0,0,0,0,0,0

In [10]:
display(df_dengue)

,dt_notificacao,ano_notificacao,mes_notificacao,cd_municipio,município,CEP,qntd_casos,qntd_hospitalizacao,qntd_resultado_soro,qntd_resultado_ns1,qntd_resultado_pcr,qntd_auctone,qntd_febre,qntd_vomito,qntd_nausea,qntd_sangramento
0,2022-01-01,2022,1,350950,Campinas,13010091,52,1,17,9,0,0,51,6,11,0
1,2022-02-01,2022,2,350950,Campinas,13010091,145,11,24,59,1,0,136,26,47,0
2,2022-03-01,2022,3,350950,Campinas,13010091,1171,49,197,493,7,0,1129,212,315,0
3,2022-04-01,2022,4,350950,Campinas,13010091,4222,104,81,1224,12,0,4116,926,1193,0
4,2022-05-01,2022,5,350950,Campinas,13010091,4380,91,263,922,8,0,4274,936,1225,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,2024-05-01,2024,5,355030,São Paulo,4195090,199128,4501,37257,130644,232,145181,173691,54959,96832,0
326,2024-06-01,2024,6,355030,São Paulo,4195090,58226,1653,14687,36604,94,40371,47677,15954,27391,0
327,2024-07-01,2024,7,355030,São Paulo,4195090,15878,527,3644,9668,14,10647,12703,4245,6944,0
328,2024-08-01,2024,8,355030,São Paulo,4195090,6599,205,1279,4295,19,3914,5023,1563,2597,0
329,2024-09-01,2024,9,355030,São Paulo,4195090,925,28,215,492,0,314,715,221,331,0

In [25]:
df_final = pd.merge(df_dengue,df_brasil,how= "outer")

display(df_final)

,dt_notificacao,ano_notificacao,mes_notificacao,cd_municipio,município,CEP,qntd_casos,qntd_hospitalizacao,qntd_resultado_soro,qntd_resultado_ns1,...,Municipio,Ação realizada em,Peso total dos resíduos (kg),Quantidade total de itens coletados:,Garrafas PET,Pneus,Copos/talheres/pratos,Sacos e sacolas,Latas de bebida,"Caixas de leite/suco, etc"
0,2022-01-01,2022,1,355030,São Paulo,4195090,215,15,87,100,...,São Paulo,2022-04-01,60,1000,0,0,0,0,0,0
1,2022-02-01,2022,2,355030,São Paulo,4195090,283,36,119,154,...,São Paulo,2022-04-01,60,1000,0,0,0,0,0,0
2,2022-03-01,2022,3,355030,São Paulo,4195090,1245,101,466,830,...,São Paulo,2022-04-01,60,1000,0,0,0,0,0,0
3,2022-04-01,2022,4,355030,São Paulo,4195090,3960,270,1414,2728,...,São Paulo,2022-04-01,60,1000,0,0,0,0,0,0
4,2022-05-01,2022,5,355030,São Paulo,4195090,5108,269,1810,3426,...,São Paulo,2022-04-01,60,1000,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,2024-05-01,2024,5,354340,Ribeirão Preto,14093000,8619,508,133,3511,...,Ribeirão Preto,2023-07-01,194,11,78,1,15,48,18,4
425,2024-06-01,2024,6,354340,Ribeirão Preto,14093000,4403,209,95,1989,...,Ribeirão Preto,2023-07-01,194,11,78,1,15,48,18,4
426,2024-07-01,2024,7,354340,Ribeirão Preto,14093000,2438,99,121,1094,...,Ribeirão Preto,2023-07-01,194,11,78,1,15,48,18,4
427,2024-08-01,2024,8,354340,Ribeirão Preto,14093000,2005,43,68,576,...,Ribeirão Preto,2023-07-01,194,11,78,1,15,48,18,4
428,2024-09-01,2024,9,354340,Ribeirão Preto,14093000,592,21,4,134,...,Ribeirão Preto,2023-07-01,194,11,78,1,15,48,18,4

In [15]:
df_final.describe()

,dt_notificacao,ano_notificacao,mes_notificacao,cd_municipio,CEP,qntd_casos,qntd_hospitalizacao,qntd_resultado_soro,qntd_resultado_ns1,qntd_resultado_pcr,...,qntd_sangramento,Ação realizada em,Peso total dos resíduos (kg),Quantidade total de itens coletados:,Garrafas PET,Pneus,Copos/talheres/pratos,Sacos e sacolas,Latas de bebida,"Caixas de leite/suco, etc"
count,429,429.000000,429.000000,429.000000,4.290000e+02,429.000000,429.000000,429.000000,429.000000,429.000000,...,429.0,429,429.000000,429.000000,429.000000,429.00000,429.000000,429.000000,429.000000,429.000000
mean,2023-05-02 01:27:16.363636480,2022.909091,6.090909,353383.846154,1.154249e+07,2418.944056,75.389277,424.813520,1323.573427,14.158508,...,0.0,2023-01-06 22:09:13.846153728,6195.923077,128.153846,14.769231,1.00000,8.846154,16.384615,3.692308,5.923077
min,2022-01-01 00:00:00,2022.000000,1.000000,350950.000000,4.195090e+06,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,2022-04-01 00:00:00,10.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,2022-09-01 00:00:00,2022.000000,3.000000,352590.000000,1.102502e+07,13.000000,0.000000,4.000000,2.000000,0.000000,...,0.0,2022-06-01 00:00:00,18.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,2023-05-01 00:00:00,2023.000000,6.000000,352940.000000,1.301009e+07,78.000000,2.000000,16.000000,15.000000,0.000000,...,0.0,2022-07-01 00:00:00,29.000000,11.000000,0.000000,0.00000,0.000000,8.000000,0.000000,0.000000
75%,2024-01-01 00:00:00,2024.000000,9.000000,354780.000000,1.321141e+07,478.000000,21.000000,108.000000,167.000000,3.000000,...,0.0,2023-07-01 00:00:00,60.000000,100.000000,20.000000,0.00000,10.000000,30.000000,2.000000,10.000000
max,2024-09-01 00:00:00,2024.000000,12.000000,355030.000000,1.409300e+07,210423.000000,5102.000000,37257.000000,130644.000000,1185.000000,...,0.0,2024-06-01 00:00:00,80000.000000,1000.000000,78.000000,12.00000,50.000000,50.000000,18.000000,40.000000
std,NaN,0.793452,3.310086,1261.798296,2.629437e+06,15831.660013,392.481490,2929.175224,9894.717658,78.337474,...,0.0,NaN,21330.328892,265.921409,23.079209,3.19023,14.713292,18.674633,6.088403,10.771898

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt_notificacao                             429 non-null    datetime64[ns]
 1   ano_notificacao                            429 non-null    int64
 2   mes_notificacao                            429 non-null    int64
 3   cd_municipio                               429 non-null    int64
 4   município                                  429 non-null    object
 5   CEP                                        429 non-null    int64
 6   qntd_casos                                 429 non-null    int64
 7   qntd_hospitalizacao                        429 non-null    int64
 8   qntd_resultado_soro                        429 non-null    int64
 9   qntd_resultado_ns1                         429 non-null    int64
 10  qntd_resultado_pcr                         429 non-null    int64
 11  qntd_auctone                               429 non-null    int64
 12  qntd_febre                                 429 non-null    int64
 13  qntd_vomito                                429 non-null    int64
 14  qntd_nausea                                429 non-null    int64
 15  qntd_sangramento                           429 non-null    int64
 16  Nome                                       429 non-null    object
 17  Municipio                                  429 non-null    object
 18  Ação realizada em                          429 non-null    datetime64[ns]
 19  Peso total dos resíduos (kg)               429 non-null    int64
 20  Quantidade total de itens coletados:       429 non-null    int64
 21  Garrafas PET                               429 non-null    int64
 22  Pneus                                      429 non-null    int64
 23  Copos/talheres/pratos                      429 non-null    int64
 24  Sacos e sacolas                            429 non-null    int64
 25  Latas de bebida                            429 non-null    int64
 26  Caixas de leite/suco, etc                  429 non-null    int64
dtypes: datetime64[ns](2), int64(22), object(3)
memory usage: 90.6+ KB

In [18]:
df_final.to_excel("Base_Final.xlsx", index=False)