In [127]:
import pandas as pd
import numpy as  np
import seaborn as sns
import matplotlib.pyplot as plt

In [128]:
df_despesas = pd.read_excel("Despesas_Tratado.xlsx")
df_orcamento = pd.read_excel("Orcamento_Tratado.xlsx")

In [129]:
display(df_despesas)

         Setor  Mes   Ano Valor_previsto Valor_realizado        Data
0     Produção    1  2024      14.045,42       15.524,52  01/01/2024
1     Produção    2  2024      42.597,50       45.075,42  01/02/2024
2     Produção    3  2024      39.491,52       44.155,59  01/03/2024
3     Produção    4  2024      52.992,06       59.965,36  01/04/2024
4     Produção    5  2024      16.198,93       15.988,45  01/05/2024
..         ...  ...   ...            ...             ...         ...
115  Comercial    8  2025      73.532,49       63.496,66  01/08/2025
116  Comercial    9  2025      46.526,55      270.703,31  01/09/2025
117  Comercial   10  2025      42.068,07       43.491,56  01/10/2025
118  Comercial   11  2025      79.706,26       92.876,93  01/11/2025
119  Comercial   12  2025       5.122,75        5.623,75  01/12/2025

[120 rows x 6 columns]

In [130]:
despesas_area = df_orcamento.groupby("Setor")["Valor"].sum()

print(despesas_area)

Setor
Comercial     715454.81
Financeiro    380644.28
Logística     393546.74
Produção      352675.29
RH            395766.17
Name: Valor, dtype: float64

As despesas do Setor comercial são acima da média

In [131]:
# Filtra apenas as linhas com Tipo "Salário"
salario_df = df_orcamento[df_orcamento["Tipo"] == "Salário"]

# Agrupa por setor e soma os valores
despesas_area = salario_df.groupby("Setor")["Valor"].sum().reset_index()

print(despesas_area)

        Setor      Valor
0   Comercial  144451.68
1  Financeiro   70313.26
2   Logística   69390.19
3    Produção   28026.69
4          RH   58781.78

Setor comercial recebe salários elevados quase o dobro do segundo maior, o finaceiro

In [132]:

# df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

# df_orcamento.set_index("Data", inplace=True)

# despesas_area = df_orcamento["Tipo","Valor"].resample("QE").sum()
# print(despesas_area)

df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

# Cria coluna com trimestre
df_orcamento["Trimestre"] = df_orcamento["Data"].dt.to_period("Q").astype(str)

# Agrupa por Setor e Trimestre
despesas_area = df_orcamento.groupby(["Tipo", "Trimestre"])["Valor"].sum().reset_index()

despesas_area_Total = df_orcamento.groupby(["Tipo"])["Valor"].sum().reset_index()

print(despesas_area)
print(despesas_area_Total)

                    Tipo Trimestre      Valor
0   Compra Matéria-prima    2024Q2   46783.29
1   Compra Matéria-prima    2024Q3  100130.67
2   Compra Matéria-prima    2024Q4  111451.72
3   Compra Matéria-prima    2025Q1   43691.72
4   Compra Matéria-prima    2025Q2   26717.65
5                Energia    2024Q2  161273.27
6                Energia    2024Q3  167000.79
7                Energia    2024Q4  113243.14
8                Energia    2025Q1  347335.66
9                Energia    2025Q2   77901.38
10              Internet    2024Q2   62931.29
11              Internet    2024Q3   21512.11
12              Internet    2024Q4   12313.53
13              Internet    2025Q1   58300.96
14              Internet    2025Q2   42561.70
15               Salário    2024Q2   44297.15
16               Salário    2024Q3  162786.38
17               Salário    2024Q4   51908.60
18               Salário    2025Q1   69314.27
19               Salário    2025Q2   42657.20
20                  Água    2024Q2   37159.10
21                  Água    2024Q3  123699.03
22                  Água    2024Q4  154527.35
23                  Água    2025Q1  134178.23
24                  Água    2025Q2   24411.10
                   Tipo      Valor
0  Compra Matéria-prima  328775.05
1               Energia  866754.24
2              Internet  197619.59
3               Salário  370963.60
4                  Água  473974.81

C:\Users\36188635861\AppData\Local\Temp\ipykernel_12684\2214234955.py:8: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

Excesso de gasto com energia e água

In [133]:
valor_fornecedores = df_orcamento.groupby(["Fornecedor","Tipo"])["Valor"].sum()
top_5 = valor_fornecedores.nlargest(5)

print(top_5)

Fornecedor  Tipo
Fogaça      Energia                 190090.0
Viana - ME  Energia                 103679.4
Sales - EI  Salário                 101064.7
Santos S/A  Energia                  96075.5
Pastor S/A  Compra Matéria-prima     45438.4
Name: Valor, dtype: float64

Rever os fornecedores de energia para mais rentáveis é uma ótima solução para diminuir os gastos excessivos