In [49]:
import pandas as pd
import numpy as np
import re

In [50]:
df_despesas = pd.read_excel("Despesas.xlsx")

df_orcamento = pd.read_excel("Orcamento.xlsx")

In [51]:
display(df_despesas)

         Setor  Mes   Ano  Valor_previsto  Valor_realizado
0     Produção    1  2024        14045.42     15524.519752
1     Produção    2  2024        42597.50     45075.424647
2     Produção    3  2024        39491.52     44155.593318
3     Produção    4  2024        52992.06     59965.364892
4     Produção    5  2024        16198.93     15988.451455
..         ...  ...   ...             ...              ...
115  Comercial    8  2025        73532.49     63496.657091
116  Comercial    9  2025        46526.55    270703.309654
117  Comercial   10  2025        42068.07     43491.557474
118  Comercial   11  2025        79706.26     92876.931597
119  Comercial   12  2025         5122.75      5623.751964

[120 rows x 5 columns]

In [52]:
df_despesas["Mes"] = df_despesas["Mes"].astype(str).str.zfill(2)
df_despesas["Ano"] = df_despesas["Ano"].astype(str)
df_despesas["Data"] = pd.to_datetime(df_despesas["Mes"] + "/" + df_despesas["Ano"], format="%m/%Y")
df_despesas["Data"] = df_despesas["Data"].dt.strftime('%m/%Y')
df_despesas["Data"] = df_despesas["Data"].astype(str)
print(df_despesas["Data"])

0      01/2024
1      02/2024
2      03/2024
3      04/2024
4      05/2024
        ...
115    08/2025
116    09/2025
117    10/2025
118    11/2025
119    12/2025
Name: Data, Length: 120, dtype: object

In [53]:
df_despesas["Valor_previsto"] = df_despesas["Valor_previsto"].astype(float)

df_despesas["Valor_previsto"] = df_despesas["Valor_previsto"].map("{:,.2f}".format).str.replace(",", "X").str.replace(".", ",").str.replace("X", ".")

print(df_despesas["Valor_previsto"])

0      14.045,42
1      42.597,50
2      39.491,52
3      52.992,06
4      16.198,93
         ...
115    73.532,49
116    46.526,55
117    42.068,07
118    79.706,26
119     5.122,75
Name: Valor_previsto, Length: 120, dtype: object

In [54]:
df_despesas["Valor_realizado"] = df_despesas["Valor_realizado"].astype(float)

df_despesas["Valor_realizado"] = df_despesas["Valor_realizado"].map("{:,.2f}".format).str.replace(",", "X").str.replace(".", ",").str.replace("X", ".")
print(df_despesas["Valor_realizado"])

0       15.524,52
1       45.075,42
2       44.155,59
3       59.965,36
4       15.988,45
          ...
115     63.496,66
116    270.703,31
117     43.491,56
118     92.876,93
119      5.623,75
Name: Valor_realizado, Length: 120, dtype: object

In [55]:
df_despesas = df_despesas.dropna()

print(df_despesas)

         Setor Mes   Ano Valor_previsto Valor_realizado     Data
0     Produção  01  2024      14.045,42       15.524,52  01/2024
1     Produção  02  2024      42.597,50       45.075,42  02/2024
2     Produção  03  2024      39.491,52       44.155,59  03/2024
3     Produção  04  2024      52.992,06       59.965,36  04/2024
4     Produção  05  2024      16.198,93       15.988,45  05/2024
..         ...  ..   ...            ...             ...      ...
115  Comercial  08  2025      73.532,49       63.496,66  08/2025
116  Comercial  09  2025      46.526,55      270.703,31  09/2025
117  Comercial  10  2025      42.068,07       43.491,56  10/2025
118  Comercial  11  2025      79.706,26       92.876,93  11/2025
119  Comercial  12  2025       5.122,75        5.623,75  12/2025

[120 rows x 6 columns]

In [56]:
display(df_orcamento)

,Id_despesa,Data,Tipo,Setor,Valor,Fornecedor
0,1,1723939200000,Salário,Financeiro,11670.10,Teixeira
1,2,1726358400000,Água,Logística,17394.82,Nunes
2,3,1724284800000,Água,Financeiro,19787.46,Moura S/A
3,4,1725235200000,Compra Matéria-prima,Produção,2159.77,Barros
4,5,1738454400000,Internet,RH,7390.20,Mendes - EI
...,...,...,...,...,...,...
195,196,1727913600000,Energia,Produção,15225.10,da Cunha Mendes e Filhos
196,197,1721347200000,Salário,RH,16460.68,Pires e Filhos
197,198,1729987200000,Água,Financeiro,12795.28,Nascimento
198,199,1723852800000,Compra Matéria-prima,Logística,9634.17,da Costa
199,200,1741564800000,Salário,Produção,13022.00,Porto - ME

In [57]:


# Converter timestamp (em milissegundos) para datetime
df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"], unit='ms')

# Formatar como string no formato 'mm/yyyy'
df_orcamento["Data"] = df_orcamento["Data"].dt.strftime('%m/%Y')

# Exibir o resultado

display(df_orcamento)

,Id_despesa,Data,Tipo,Setor,Valor,Fornecedor
0,1,08/2024,Salário,Financeiro,11670.10,Teixeira
1,2,09/2024,Água,Logística,17394.82,Nunes
2,3,08/2024,Água,Financeiro,19787.46,Moura S/A
3,4,09/2024,Compra Matéria-prima,Produção,2159.77,Barros
4,5,02/2025,Internet,RH,7390.20,Mendes - EI
...,...,...,...,...,...,...
195,196,10/2024,Energia,Produção,15225.10,da Cunha Mendes e Filhos
196,197,07/2024,Salário,RH,16460.68,Pires e Filhos
197,198,10/2024,Água,Financeiro,12795.28,Nascimento
198,199,08/2024,Compra Matéria-prima,Logística,9634.17,da Costa
199,200,03/2025,Salário,Produção,13022.00,Porto - ME

In [58]:
#df_orcamento["Valor"] = df_orcamento["Valor"].astype(float)

df_orcamento["Valor"] = df_orcamento["Valor"].map("{:,.2f}".format).str.replace(",", "")#.str.replace(".", ",")
df_orcamento["Valor"] = df_orcamento["Valor"].astype("float32")
print(df_orcamento["Valor"])

0      11670.099609
1      17394.820312
2      19787.460938
3       2159.770020
4       7390.200195
           ...
195    15225.099609
196    16460.679688
197    12795.280273
198     9634.169922
199    13022.000000
Name: Valor, Length: 200, dtype: float32

In [59]:
df_orcamento.isnull().sum()

Id_despesa     0
Data           0
Tipo           0
Setor          0
Valor          9
Fornecedor    19
dtype: int64

In [60]:
df_orcamento = df_orcamento.dropna()

display(df_orcamento)

,Id_despesa,Data,Tipo,Setor,Valor,Fornecedor
0,1,08/2024,Salário,Financeiro,11670.099609,Teixeira
1,2,09/2024,Água,Logística,17394.820312,Nunes
2,3,08/2024,Água,Financeiro,19787.460938,Moura S/A
3,4,09/2024,Compra Matéria-prima,Produção,2159.770020,Barros
4,5,02/2025,Internet,RH,7390.200195,Mendes - EI
...,...,...,...,...,...,...
195,196,10/2024,Energia,Produção,15225.099609,da Cunha Mendes e Filhos
196,197,07/2024,Salário,RH,16460.679688,Pires e Filhos
197,198,10/2024,Água,Financeiro,12795.280273,Nascimento
198,199,08/2024,Compra Matéria-prima,Logística,9634.169922,da Costa
199,200,03/2025,Salário,Produção,13022.000000,Porto - ME

In [61]:
df_orcamento.to_excel("Orcamento_Tratado.xlsx", index=False)

df_despesas.to_excel("Despesas_Tratado.xlsx", index=False)

In [62]:
display(df_orcamento)

,Id_despesa,Data,Tipo,Setor,Valor,Fornecedor
0,1,08/2024,Salário,Financeiro,11670.099609,Teixeira
1,2,09/2024,Água,Logística,17394.820312,Nunes
2,3,08/2024,Água,Financeiro,19787.460938,Moura S/A
3,4,09/2024,Compra Matéria-prima,Produção,2159.770020,Barros
4,5,02/2025,Internet,RH,7390.200195,Mendes - EI
...,...,...,...,...,...,...
195,196,10/2024,Energia,Produção,15225.099609,da Cunha Mendes e Filhos
196,197,07/2024,Salário,RH,16460.679688,Pires e Filhos
197,198,10/2024,Água,Financeiro,12795.280273,Nascimento
198,199,08/2024,Compra Matéria-prima,Logística,9634.169922,da Costa
199,200,03/2025,Salário,Produção,13022.000000,Porto - ME

In [63]:
# df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

# df_orcamento.set_index("Data", inplace=True)

# despesas_area = df_orcamento["Tipo","Valor"].resample("QE").sum()
# print(despesas_area)

df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

# Cria coluna com trimestre
df_orcamento["Trimestre"] = df_orcamento["Data"].dt.to_period("Q").astype(str)

# Agrupa por Setor e Trimestre
despesas_area_Trimestre = df_orcamento.groupby(["Tipo", "Trimestre"])["Valor"].sum().reset_index()

despesas_area_Total = df_orcamento.groupby("Tipo")["Valor"].sum()#.reset_index()

C:\Users\guitc\AppData\Local\Temp\ipykernel_19516\348151658.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_orcamento["Data"] = pd.to_datetime(df_orcamento["Data"])

In [64]:
df_orcamento["Valor"].dtype

dtype('float32')